[Desktop Entry]
Name=Chromium
GenericName=Browser
Comment=Browse the World Wide Web
Type=Application
Exec=run-as-spot /etc/ccs/chrome.sh
Icon=chromium
Terminal=false
Categories=Network;
